<div id="content-no-sidebar" class="help">
    <h3>
        Based on the information you have provided, we think the following
        organizations will be able to assist you. Each of the organizations listed
        below provides services free of charge.<br/>
        <br/>
        We recommend that you print this page for your records.<br/><br/>
    </h3>

    <p><%= @currently_employed_text if @counseling.currently_employed %></p>

    <p></p>

    <% if @results.any? || @ask_user_for_email || @counseling.lost_plan %>
        <div class="field-odd">
            <%= form_tag url_for(:controller => "help", :action => "email"), id: 'emailResultForm', :remote => true do %>
                <label>
                    Enter your email address below to receive a copy of these results in
                    your inbox:<br/>
                    <% if @ask_user_for_email %>
                        <label class="hint">
                            <%= check_box_tag :contact %>
                            Check here if you'd like us to contact you when we have more
                            information specific to the plan
                            <%= @counseling.plan_name.blank? ? 'you inquired about' : @counseling.plan_name %>
                            <%= " for #{City.find(@counseling.city_id).name}" if @counseling.city_id %> <%= " in #{County.find(@counseling.county_id).name} county" if @counseling.county_id %>
                            .<br/>
                        </label>
                    <% end %>
                    <% if @counseling.lost_plan %>
                        <label class="hint">
                            <%= check_box_tag :lost_plan_request %>
                            Check this box if you would like us to send you information on how to contact and locate
                            former employers.
                        </label>
                    <% end %>
                </label>

                <div class="email-results">
          <span class="field">
            <%= text_field_tag :email, nil, :size => 50 %>
          </span>
                    <%= hidden_field_tag :id, @counseling.id %>
                    <%= submit_tag "Send me the results", :class => 'btn', :id => "send-results-btn" %>
                    <span id="send-results-pending" class="hint" style="display:none"><%=image_tag 'loading.gif'%> sending....</span>
                    <span id="resultsEmailResponse"></span>
                </div>
                <br/>
            <% end %>
        </div>
    <% end %>
    <script type="text/javascript">
        jQuery("#emailResultForm")
                .on("ajax:send", function () {
                    jQuery('#resultsEmailResponse, #send-results-btn').hide();
                    jQuery('#send-results-pending').show();
                })
                .on("ajax:success", function () {
                    jQuery('#resultsEmailResponse').show();
                })
                .on("ajax:error", function () {
                    jQuery('#resultsEmailResponse').show();
                });
    </script>

    <br/>

    <%= render :partial => "results" %>
</div>
