<p>
  <b>First name:</b>
  <%=h @partner.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @partner.last_name %>
</p>

<p>
  <b>Company:</b>
  <%=h @partner.company %>
</p>

<p>
  <b>Line 1:</b>
  <%=h @partner.line_1 %>
</p>

<p>
  <b>Line 2:</b>
  <%=h @partner.line_2 %>
</p>

<p>
  <b>City:</b>
  <%=h @partner.city %>
</p>

<p>
  <b>State abbrev:</b>
  <%=h @partner.state_abbrev %>
</p>

<p>
  <b>Zip code:</b>
  <%=h @partner.zip_code %>
</p>

<p>
  <b>Phone:</b>
  <%=h @partner.phone %>
</p>

<p>
  <b>Fax:</b>
  <%=h @partner.fax %>
</p>

<p>
  <b>Email:</b>
  <%=h @partner.email %>
</p>

<p>
  <b>Url:</b>
  <%=h @partner.url %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>