<p>
  <b>Name:</b>
  <%=h @publication.name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @publication.phone %>
</p>

<p>
  <b>Phone ext:</b>
  <%=h @publication.phone_ext %>
</p>

<p>
  <b>Tollfree:</b>
  <%=h @publication.tollfree %>
</p>

<p>
  <b>Tollfree ext:</b>
  <%=h @publication.tollfree_ext %>
</p>

<p>
  <b>Fax:</b>
  <%=h @publication.fax %>
</p>

<p>
  <b>Tty:</b>
  <%=h @publication.tty %>
</p>

<p>
  <b>Tty ext:</b>
  <%=h @publication.tty_ext %>
</p>

<p>
  <b>Email:</b>
  <%=h @publication.email %>
</p>

<p>
  <b>Url:</b>
  <%=h @publication.url %>
</p>

<p>
  <b>Url title:</b>
  <%=h @publication.url_title %>
</p>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>