  <h3>Login Information</h3>
  <table class="form">
    <tr>
      <th><span class="reqnote">*</span><%= existing_user ? "Change&nbsp;" : "" %>Username</th>
      <td>
        <%= login_information.text_field :login %>
      </td>
    </tr>
    <tr>
      <th><span class="reqnote">*</span><%= existing_user ? "Change&nbsp;" : "" %>Password</th>
      <td>
        <%= login_information.password_field :password %>
      </td>
    </tr>
    <tr>
      <th><span class="reqnote">*</span>Password Confirmation</th>
      <td>
        <%= login_information.password_field :password_confirmation %>
      </td>
    </tr>
  </table>