                    <%= fields_for :pha_contact, pha_contact do |pha| %>
                      <fieldset>
                        <legend class="desc">PHA Contact</legend>
                        <div class="left">
                          <%= pha.text_field :name %>
                          <label for="pha_contact_name">Name</label>
                        </div>
                        <div class="left">
                          <%= pha.text_field :title %>
                          <label for="pha_contact_title">Title</label>
                        </div>
                        <div class="left">
                          <%= pha.text_field :phone, :size => 15 %>
                          <label for="pha_contact_phone">Phone</label>
                        </div>
                        <div class="left">
                          <%= pha.text_field :email %>
                          <label for="pha_contact_email">Email</label>
                        </div>
                      </fieldset>
                    <% end %>