<div id="content-no-sidebar" style="width: 830px;">
  <h2>Agency List</h2>
  <div class="center border-bottom" id="footer_links">
          <%= link_to_unless_current 'Home', '/' %>
          |
          <% if user_signed_in? %>
                  <%= link_to_unless_current 'Management', :controller => '/admin/menu', :action => :index %>
                  |
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% end %>
  </div>

  <%= render :partial => 'area_served_search_form', :locals => {:restriction => @restriction,
        :selected_states => @selected_states,
        :selected_counties => @selected_counties} %>

  <div id="area_served_results" class="clear fullwidth">
      <%= render :partial => 'search_results', :object => @search_results %>
  </div>
</div>