<div id="content-no-sidebar">

<h2>Agency / Plan Administration</h2>

<%= error_messages_for :agency %>

  <%= form_for(:agency, :url => (@agency.id ? agency_path(@agency) : agencies_path), :html => { :method => (@agency.id ? :put : :post) , :class => 'admin_form' }) do |f| %>
    <div class="clear">
      <%= submit_tag " Update Agency ", :class => 'btn' %>
      <%= submit_tag " Update Agency and Return to List ", :name => 'update_and_return', :class => 'btn' %>
      <%= submit_tag ' Return to Agency List Without Saving ', :name=>'cancel', :class => 'btn' %>
    </div>
    <div id="agency_details" class="left agency_header fullwidth">
      <span><b>Category: </b><%= select :agency, :agency_category, AgencyCategory.order('position').all.collect{|c| [c.name, c.name]}, {:selected => (@agency.agency_category ? @agency.agency_category.name : "")}%>
      &nbsp;&nbsp;</span>
      <span><b>Result Type: </b><%= select :agency, :result_type, ResultType.order('position').all.collect{|c| [c.name, c.name]}, {:selected => (@agency.result_type ? @agency.result_type.name : "")}%>
      &nbsp;&nbsp;&nbsp;</span>
      <span class="regular-label">
        <b>
          <label for="agency_is_active">Active:</label>
        </b>
        <%= f.check_box :is_active %>&nbsp;&nbsp;&nbsp;
      </span>
      <span class="regular-label">
        <b>
          <label for="agency_use_for_counseling">Use for counseling:
        </b>
        <%= f.check_box :use_for_counseling %>&nbsp;&nbsp;&nbsp;
      </span>
      <span><b>Last updated: </b>
        <% if @agency.updated_at %><%= @agency.updated_at.strftime("%m/%d/%Y %I:%M %p")%><% end %>
        <% if @agency.updated_by %> by <%= @agency.updated_by %><% end -%></span>
    </div>
    <ul>
    <li class="clear left fullwidth">
        <div class=""><%= f.text_field :name, {:size => 130}  %>
        <label for="agency_name1">Agency Name 1</label></div>
        <div class=""><%= f.text_field :name2, {:size => 130}  %>
        <label for="agency_name2">Agency Name 2</label></div>
    </li>
    </ul>
    <ul class="clear left fullwidth">
    <li class="clear left ">
        <fieldset><div class="left"><%= f.text_field :url_title, {:size => 62} %>
        <label for="agency_url_title">URL Title (for display)</label></div>
        <div class="left"><%= f.text_field :url, {:size => 62}  %>
        <label for="agency_url">URL</label></div></fieldset>
        <fieldset><div class="left"><%= f.text_field :url2_title, {:size => 62} %>
        <label for="agency_url_title">URL2 Title (for display)</label></div>
        <div class="left"><%= f.text_field :url2, {:size => 62}  %>
        <label for="agency_url">URL2</label></div></fieldset>
    </li>
    <li class="left ">
      <span><%= f.text_area :description, :rows => 6, :cols => 60 %>
      <label>Description</label></span>
    </li>
    <li class="left ">
      <span><%= f.text_area :comments, :rows => 6, :cols => 60 %>
      <label>Comments</label></span>
    </li>
    <%# Agencies do not have any restrictions. See TRAC #63
     render :partial => '/shared/restrictions', :locals => {:restriction => @agency.restriction} %>
    <li class="left" id="phone_web">
      <%= fields_for :publication, @agency.publication do |pub| %>
        <fieldset><legend class="desc">Publication Contact Information</legend>
        <fieldset class="left">
        <span><%= pub.text_field :tollfree, :size => 15 %><label for="tollfree">Toll Free Phone</label></span>
        <span><%= pub.text_field :tollfree_ext, :size => 8 %><label for="tollfree">Ext</label></span>
        </fieldset>
        <fieldset class="left">
        <span><%= pub.text_field :phone, :size => 15 %><label for="local">Local Phone</label></span>
        <span><%= pub.text_field :phone_ext, :size => 8 %><label for="tollfree">Ext</label></span>
        </fieldset>
        <fieldset class="left">
        <span><%= pub.text_field :tty, :size => 15 %><label for="tty">TTY</label></span>
        <span><%= pub.text_field :tty_ext, :size => 8 %><label for="tollfree">Ext</label></span>
        </fieldset>
        <fieldset class="left">
        <span><%= pub.text_field :fax, :size => 15 %><label for="fax">Fax</label></span>
        </fieldset>
        <div class="clear left"><%= pub.text_field :url_title, {:size => 62} %>
        <label for="agency_url_title">Publication URL Title (for display)</label></div>
        <div class="left"><%= pub.text_field :url, {:size => 62}  %>
        <label for="agency_url">Publication URL</label></div>
        <div class="clear left"><%= pub.text_field :email, :size => 30 %><label for="email">Email</label></div>
        </fieldset>
      <% end %>
    </li>
                <li class="left" id="pha_contact">
                  <%= render :partial => 'shared/pha_contact', :object => @agency.pha_contact %>
                </li>
    </ul>
    <div class="left fullwidth">
    <div class="admin_table">
      <table id="loc_table" cellspacing="0">
        <tbody id="location_list">
        <tr><th colspan="8" id="table_title"><h3>AGENCY LOCATIONS</h3></th></tr>
        <% if @locations %>
          <tr>
            <th class="hq">HQ</th>
            <th class="hq">Provider</th>
            <th class="loc"><%= link_to 'Location', edit_agency_path(:order=>'name') %></th>
            <th class="city">City, <%= link_to 'State', edit_agency_path(:order=>'state') %></th>
            <th class="">Age</th>
            <th class="">FPG</th>
            <th class="">AND</th>
            <th class="">Active</th>
          </tr>
          <% @locations.each_with_index do |location, i| %>
          <tr id="location_<%=location.id.to_s%>" class="<%= 'disabledLocation' unless location.is_active %>">
            <td class="hq"><%= location.is_hq? ? image_tag('check.gif') : '&nbsp;'.html_safe  %></td>
            <td class="hq"><%= location.is_provider? ? image_tag('check_blue.gif')  : '&nbsp;'.html_safe %></td>
            <td class="loc "><%= link_to h(location.name), edit_agency_location_url(:agency_id => @agency, :id => location) %></td>
            <td class="city "><%  if location.dropin_address -%>
              <%= location.dropin_address.city %><% if !location.dropin_address.city.blank? %>, <% end %><%= location.dropin_address.state_abbrev %>
            <%end %></td>
            <td><%= location.age_restrictions? ? image_tag('check.gif') : '&nbsp;'.html_safe %></td>
            <td><%= location.income_restrictions? ? image_tag('check.gif') : '&nbsp;'.html_safe %></td>
            <td><%= location.and_restrictions? ? image_tag('check.gif') : '&nbsp;'.html_safe %></td>
            <td><%= image_tag(location.is_active ? 'check_blue.gif' : 'close.gif')%></td>
          </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <% if @locations and @locations.empty? %><div class="none-found">No locations found</div><% end %>
      <% if @agency.new_record? %>
        Please save changes to this agency before adding locations
      <% else %>
        <%= link_to 'Add a new location ...',
            new_agency_location_path(@agency),
            :class => 'plain btn' %>
        <%= link_to_function 'Show/Hide inactive locations',
            "toggleRows('disabledLocation')",
            :id => 'showHideLocations',
            :class => 'btn' %>
      <% end -%>
    </div>
    <div class="admin_table">
      <table id="plan_table" cellspacing="0">
        <tbody id="plan_list">
        <tr>
          <th colspan="4" id="table_title"><h3>PLANS</h3></th></tr>
          <% if !@agency.new_record? %>
            <tr>
              <th width="5%">drag to sort</th>
              <th>Plan Name</th>
              <th>Active</th>
              <th>Catch-all Employees</th>
            </tr>
            <% @plans.each_with_index do |plan, i| %>
            <tr id="plan_<%=plan.id.to_s%>" class="<%= 'disabledPlan' unless plan.is_active %>">
              <td class="center"><%= image_tag 'play.gif'%></td>
              <td><%= link_to h(plan.name), edit_agency_plan_url(:agency_id => @agency, :id => plan)%></td>
              <td><%= image_tag(plan.is_active ? 'check_blue.gif' : 'close.gif') %></td>
              <td><%= plan.catchall_employees %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <% if @plans and @plans.empty? %><div class="none-found">No plans found</div><% end %>
      <% if @agency.new_record? %>
        Please save changes to this agency before adding plans
      <% else %>
        <%= link_to 'Add a new plan ...',
          new_agency_plan_path(@agency),
          :class => 'plain btn' %>
        <%= link_to_function 'Show/Hide inactive plans',
          "toggleRows('disabledPlan')",
          :id => 'showHidePlans',
          :class => 'btn' %>
      <% end -%>
      </div>
    </div>
    <div class="clear left fullwidth">
      <%= submit_tag " Update Agency ", :class => 'btn' %>
      <%= submit_tag " Update Agency and Return to List ", :name => 'update_and_return', :class => 'btn' %>
      <%= submit_tag ' Return to Agency List Without Saving ', :name=>'cancel', :class => 'btn' %>
    </div>
<% end %>

<%# re-ordering locations removed per #102.
sortable_element 'location_list',
      :tag => 'tr',
      :url => { :action => "sort_location" } %>

<%= sortable_element 'plan_list',
      :tag => 'tr',
      :url => { :action => "sort_plan" } %>

<script type="text/javascript">

    window.onbeforeunload = function() {
        new Ajax.Request('/agencies/go_to_agencies', {
            method:       'post',
            asynchronous: false,
            parameters: 'back=true'
        });
    };

  /* toggles all element with given class*/
  function toggleRows(elemClass) {
    $$("." + elemClass).each( function(e) {
      e.toggle()}
    );
    return false;
  }

  /* Hide inactive locations and plans. */
  Event.observe( window, 'load', function() {
    ['.disabledLocation', '.disabledPlan'].each(function(item) {
      $$(item).each(function(e_class) {
        e_class.hide();
      });
    });

    /*Add 'save reminder' to links and buttons */
    var asr = new AdminSaveReminder();
    asr.addObserverToLinkButtons(['showHideLocations','showHidePlans'], ['commit', 'update_and_return']);
  });
</script>


<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery("#publication_tollfree").mask("(999) 999-9999");
    jQuery("#publication_phone").mask("(999) 999-9999");
    jQuery("#publication_tty").mask("(999) 999-9999");
    jQuery("#publication_fax").mask("(999) 999-9999");
    jQuery("#pha_contact_phone").mask("(999) 999-9999");
   });
</script>

</div>
