<%= error_messages_for 'contact' %>

<!--[form:contact]-->
<p><label for="contact_first_name">First name</label><br/>
<%= text_field 'contact', 'first_name'  %></p>

<p><label for="contact_last_name">Last name</label><br/>
<%= text_field 'contact', 'last_name'  %></p>

<p><label for="contact_middle_initial">Middle initial</label><br/>
<%= text_field 'contact', 'middle_initial'  %></p>

<p><label for="contact_company">Company</label><br/>
<%= text_field 'contact', 'company'  %></p>

<p><label for="contact_line_1">Line 1</label><br/>
<%= text_field 'contact', 'line_1'  %></p>

<p><label for="contact_line_2">Line 2</label><br/>
<%= text_field 'contact', 'line_2'  %></p>

<p><label for="contact_city">City</label><br/>
<%= text_field 'contact', 'city'  %></p>

<p><label for="contact_state_abbrev">State abbrev</label><br/>
<%= text_field 'contact', 'state_abbrev'  %></p>

<p><label for="contact_zip_code">Zip code</label><br/>
<%= text_field 'contact', 'zip_code'  %></p>

<p><label for="contact_phone">Phone</label><br/>
<%= text_field 'contact', 'phone'  %></p>

<p><label for="contact_fax">Fax</label><br/>
<%= text_field 'contact', 'fax'  %></p>

<p><label for="contact_email">Email</label><br/>
<%= text_field 'contact', 'email'  %></p>

<p><label for="contact_url">Url</label><br/>
<%= text_field 'contact', 'url'  %></p>

<p><label for="contact_profession_other">Profession other</label><br/>
<%= text_field 'contact', 'profession_other'  %></p>

<p><label for="contact_affiliations">Affiliations</label><br/>
<%= text_field 'contact', 'affiliations'  %></p>

<p><label for="contact_wants_npln">Wants npln</label><br/>
<select id="contact_wants_npln" name="contact[wants_npln]"><option value="false">False</option><option value="true">True</option></select></p>

<p><label for="contact_wants_aaa">Wants aaa</label><br/>
<select id="contact_wants_aaa" name="contact[wants_aaa]"><option value="false">False</option><option value="true">True</option></select></p>
<!--[eoform:contact]-->

