<h1>Listing contacts</h1>

<table width="100%">
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  
<% for contact in @contacts %>
  <tr>
    <td width="35%"><%= link_to "#{h(contact.first_name)} #{h(contact.last_name)}", :action => 'edit', :id => contact %></td>
    <td><%= h contact.company %></td>
    <td><%= h contact.phone %></td>
    <td><%= h contact.email %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @contact_pages.current.previous } if @contact_pages.current.previous %>
<%= link_to 'Next page', { :page => @contact_pages.current.next } if @contact_pages.current.next %> 

<br />