<div id="content-no-sidebar">
  <h2>Management Menu</h2>

  <ul class="menuList">
  <li><%= link_to "Agencies / Locations / Plans",:controller => "/agencies", :action=>"go_to_agencies", :id=>true  %></li>
  <li><%= link_to "Manage catch-all employees", :controller => "/state", :action => 'index'%></li>
  <li><%= link_to "Manage feedback", :controller => "/feedback"%></li>
  <li><%= link_to "Manage page content", :controller => "admin/content", :action => 'index' %></li>
  <li><%= link_to "Partner List", :controller => "/partners", :action => 'index'%></li>
  </ul>
</div>