<h1>Listing plans</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Name2</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Covered employees</th>
    <th>Catchall employees</th>
    <th>Description</th>
    <th>Service description</th>
    <th>Comments</th>
    <th>Status</th>
    <th>Govt employee type</th>
    <th>Special district</th>
    <th>Plan type1</th>
    <th>Plan type2</th>
    <th>Plan type3</th>
    <th>Url</th>
    <th>Url title</th>
    <th>Admin url</th>
    <th>Admin url title</th>
    <th>Tpa url</th>
    <th>Tpa url title</th>
    <th>Spd url</th>
    <th>Spd url title</th>
  </tr>
  
<% for plan in @plans %>
  <tr>
    <td><%=h plan.name %></td>
    <td><%=h plan.name2 %></td>
    <td><%=h plan.start_date %></td>
    <td><%=h plan.end_date %></td>
    <td><%=h plan.covered_employees %></td>
    <td><%=h plan.catchall_employees %></td>
    <td><%=h plan.description %></td>
    <td><%=h plan.service_description %></td>
    <td><%=h plan.comments %></td>
    <td><%=h plan.status %></td>
    <td><%=h plan.govt_employee_type %></td>
    <td><%=h plan.special_district %></td>
    <td><%=h plan.plan_type1 %></td>
    <td><%=h plan.plan_type2 %></td>
    <td><%=h plan.plan_type3 %></td>
    <td><%=h plan.url %></td>
    <td><%=h plan.url_title %></td>
    <td><%=h plan.admin_url %></td>
    <td><%=h plan.admin_url_title %></td>
    <td><%=h plan.tpa_url %></td>
    <td><%=h plan.tpa_url_title %></td>
    <td><%=h plan.spd_url %></td>
    <td><%=h plan.spd_url_title %></td>
    <td><%= link_to 'Show', plan_path(@agency, plan) %></td>
    <td><%= link_to 'Edit', edit_plan_path(@agency, plan) %></td>
    <td><%= link_to 'Destroy', plan_path(@agency, plan), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New plan', new_plan_path %>