<div id="content-no-sidebar">
  <h2>Updating <%= @content.url %></h2>

  <%= form_for @content, url: admin_content_path(@content) do %>
    <p>
      <label for="parent_id">Parent page:</label><br/>
      <%= raw(select_for_parent_contents(@contents, @content.id, @content.parent_id)) %>
    </p>

    <%= render :partial => 'form' %>
    <%= submit_tag 'Save' %>
  <% end %>
  <br/>
  <div>
    <%= link_to 'Create sub-page', :action => :new, :parent_id => @content %>
  </div>
  <br/>
  <%= link_to 'Back to List', :action => 'list' %>
</div>