<table class="feedbackTable">
  <tr>
    <th class="<%= (params[:order]=='name' ? 'sorted' : '') %>">
      <%= column_header_link_to 'Name', params, {:order => 'name'} %>
    </th>
    <th class="<%= (params[:order]=='category' ? 'sorted' : '') %>">
      <%= column_header_link_to 'Category', params, {:order => 'category'} %>
    </th>
    <th>Feedback</th>
    <th class="<%= (params[:order]=='updated' ? 'sorted' : '') %>">
      <%= column_header_link_to 'Updated', params, {:order => 'updated'} %>
    </th>
    <th class="<%= (params[:order]=='resolved' ? 'sorted' : '') %>">
      <%= column_header_link_to 'Resolved', params, {:order => 'resolved'} %>
    </th>
    <th></th>
  </tr>
<%= render partial: 'feedback', collection: feedbacks %>
</table>
<%= render :partial => 'paginator', :locals => {:feedbacks => feedbacks} %>

