<tr  class="<%= cycle('odd','even') %>">
        <td><%= link_to h(feedback.name), feedback_path(feedback) %></td>
        <td><%= link_to h(feedback.category), feedback_path(feedback) %></td>
        <td><%= h(feedback.feedback[0..100]) + ' ...' unless feedback.feedback.blank? %></td>
        <td><%= feedback.updated_at.strftime('%m/%d/%Y') %></td>
        <td style="text-align:center;"><%= image_tag(feedback.is_resolved ? 'check_blue.gif' : 'close.gif')%></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
</tr>
