	<table class="form">
	<tr>
		<td class="label">
			Your Name:
		</td>
		<td class="element">
			<%= f.name %>
		</td>
	</tr>
	<tr>
		<td class="label">
			Your Email Address:
		</td>
		<td class="element">
			<%= f.email %>
		</td>
	</tr>
	<tr>
		<td class="label">
			Your Telephone Number:
		</td>
		<td class="element">
			<%= f.phone %>
		</td>
	</tr>
	<tr>
		<td class="label">
			Best Time to Reach You:
		</td>
		<td class="element">
			<%= f.availability %>
		</td>
	</tr>
	<tr>
		<td class="label">
			In what state do you reside?
		</td>
		<td class="element">
			<%= f.state_abbrev %>
		</td>
	</tr>
	<tr>
		<td class="label">
			What does your feedback concern:
		</td>
		<td class="element">
			<%= f.category %>
		</td>
	</tr>
	<tr>
		<td class="label">
			Your feedback:
		</td>
    <td class="element">
      <%= f.feedback %>
		</td>
  </tr>

	</table>
