<div id="footer" class="clearfix">
  <ul class="no-print">
    <li><%= link_to_unless_current 'Home', '/' %></li>
    <li>|</li>
    <li><%= link_to_unless_current 'Terms of Use',  '/terms_of_use' %></li>
    <li>|</li>
    <li><%= link_to_unless_current 'Privacy Policy', '/privacy-policy' %></li>
    <li>|</li>
    <li><%= link_to_unless_current 'Feedback', :controller => '/feedback', :action => :show_form %></li>
    <li>|</li>
    <li><%= link_to_unless_current 'Site Administration', :controller => '/admin/menu', :action => :index %></li>
    <%- if session[:user] %>
      <li>|</li>
      <li><%= link_to_unless_current 'Logout', '/account/logout'%></li>
    <% end %>

  </ul>
  <table class="clear">
    <tr>
      <td width="490px">
        <div class="address-cc clear">
          <p>
            PensionHelp America is a Pension Rights Center Initiative
          </p><%= image_tag "cc-by-sa.png", :class => "left" %>
          <p>
            Pension Rights Center
          </p>
          <p>
            1350 Connecticut Avenue NW, Suite 206 | Washington, DC 20036 | 1-888-420-6550
          </p>
        </div>
      </td>
      <td width="100px">
        <a href="http://www.facebook.com/PensionRightsCenter" target="_blank">
          <img border="0" src="<%= image_path 'facebook.png' %>" alt="Facebook"/>
        </a>
        <a href="http://twitter.com/PensionRights" target="_blank">
          <img border="0" src="<%= image_path 'twitter.png' %>" alt="Twitter"/>
        </a>
        <a href="http://www.youtube.com/pensionrightscenter">
          <img border="0" src="<%= image_path 'youtube.png' %>" alt="YouTube"/>
        </a>
      </td>
      <td>
        <p>Connect with the Pension Rights Center online: <a href="http://www.pensionrights.org/">http://www.pensionrights.org</a>
        </p>
        <p>
          <a href="http://wfc2.wiredforchange.com/o/8438/p/salsa/web/common/public/signup?">Subscribe to the Pension Rights Center e-newsletters</a>
        </p>
      </td>
    </tr>
  </table>
</div>
