<div id="header">
    <a id="logo" rel="home" title="Home" href="/"><%= image_tag "header.png", :alt => "Home", :class => "left" %></a>

    <div class="right no-print">
        <%= image_tag "print.png", :border => "0", :onclick => "print_preview(); return false;", :alt => "Print this page" %><% unless @hide_email_button %><%= image_tag "separator.png", :border => "0" %><div class="email-this-page"><span class="st_email" displayText="E-mail this page"></span></div><% end %><%= image_tag "separator.png", :border => "0" %><%= image_tag "text-size.png", :border => "0", :alt => "Text size", :usemap => "#Map" %>
    </div>
    <map name="Map" id="Map">
        <area shape="rect" coords="69,7,84,26" alt="font-size small" href="#" class="small font"/>
        <area shape="rect" coords="85,5,100,26" alt="font size medium" href="#" class="medium font"/>
        <area shape="rect" coords="101,6,115,26" alt="font size big" href="#" class="big font"/>
    </map>
</div>
